<div class="row">
    <div style="margin-top: 5px;" class="col-sm-3">
        <div class="col-sm-12">
            <img id="topimage" class="image" src="assets/images/physioex.jpg" alt="">
        </div>

        <mat-accordion style="margin-top: 10px;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h5 style="margin-left: 10%;">
                            search
                        </h5>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div id="scrolling">
                    <div id="scrolling">
                        <div *ngFor="let item of searchexercises">
                            <input type="radio" name="age" value="{{item}}" (change)="exerciseFilter($event.target.value)">{{item}}
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
    <div class="col-sm-9">
        <app-navbar></app-navbar>
        <br>

        <div id="scollingsearchresult" class="row">
            <ng-container *ngFor="let post of filterPost; let i = index">
                <div class="col">
                    <div id="scrolling" class="card" style="width: 18rem; height: 20rem; margin-top: 10px;">
                        <img class="card-img-left" [src]="post.imagePath" alt="{{post.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.details}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="(i+1)% 3 === 0" class="w-100"></div>
            </ng-container>
        </div>


    </div>
</div>