<ul ngbNav #nav="ngbNav" class="nav-tabs">

    <li ngbNavItem>

    </li>
    <li ngbNavItem>
        <a routerLink="/" ngbNavLink>Home</a>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Help</a>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Donate & support</a>
    </li>
    <li *ngIf="!userIsAuthenticate" ngbNavItem>
        <a routerLink="/login" ngbNavLink>Login</a>
    </li>
    <li *ngIf="!userIsAuthenticate" ngbNavItem style="text-align: right;">
        <a routerLink="/signup" ngbNavLink>Sign up</a>
    </li>
    <li *ngIf="userIsAuthenticate" ngbNavItem style="text-align: right;">
        <a routerLink="/createpost" ngbNavLink>New post</a>
    </li>
    <li *ngIf="userIsAuthenticate" ngbNavItem style="text-align: right;">
        <button id="logout" (click)="logout()">Logout</button>
    </li>
</ul>