#topimage {
    height: 100px;
    width: 100%;
}

#homePage {
    margin: 10px;
}

#searchbutton {
    width: 100%;
}

#searchsection {
    width: 100%;
}

#conditions {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

#scrolling {
    width: 100%;
    height: 150px;
    overflow-y: auto;
}

.card-img-left {
    height: 100px;
    width: 100%;
}

.card-img-test {
    height: 140px;
    width: 150px;
    border: 2px solid rgb(99, 95, 95);
    margin: 2px;
}

#scollingsearchresult {
    width: 100%;
    height: 450px;
    overflow-y: auto;
}